#items-table td {
    border-bottom: 1px solid #ecabaf;
}

#items-table td.check {
    width: 5%;
    background-color: #ffe3e2;
}

#items-table td.image {
    width: 20%;
}

#items-table td.info {
    width: 65%;
}

#items-table td.price {
    width: 10%;
}

#items-table .price {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #be2834;
}

#items-table #title {
    display: inline-block;
    vertical-align: top;
}

#items-table #title .about {
    color: #ff6668;
}

#items-table #title h2 {
    margin: 0px;
    color: #bf2932;
}


#icons {
    height: 26px;
    display: inline-block;
    float: right;
}

#icons .icon {
    display: inline-block;
}

#icons .icon a {
    background-image: url('../img/item-icons.png');
}

#icons .icon a:hover {
    background-image: url('../img/item-icons-hover.png');
}

#icons .icon a {
    display: block;
    width: 26px;
    height: 26px;
}

#icons .view a, #icons .view a:hover {    
    background-position: -32px 0;
}

#icons .edit a {
    background-position: -64px 0;
}

#icons .delete a {
    background-position: -96px 0;
}

#icons .add a {
    background-position: -120px 0;
}

#items-table td.image img {
    width: 100%;
}

#search-bar {
    height: 50px;
    line-height: 50px;
    width: 200px;
    background-color: #be2834;
    display: block;
    position: absolute;
    margin-left: -100px;
    border-radius: 11px;
    box-shadow: 0px 2px 5px #888;
    text-align: center;
    display: none;
}

td.check input.item-check-input {
    height: 100%;
    width: 100%;
}