body {
    margin: 0px;
    margin-top: -18px;
    font-family: 'Arial';
}

footer {
    background: url('../img/footer-bg.png') repeat-x;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 0.7em;
    box-shadow: 0px -3px 6px #888;
    margin-top: 50px;
}

#logo {
    width: 230px;
    height: 149px;
    background: url('../img/logo.png') no-repeat;
    box-shadow: 0px 2px 5px #888;
    border-radius: 11px;
    display: inline-block;
    position: absolute;
    margin-left: 10%;
    cursor: pointer;
}

#main-content {
    background: url('../img/content-top-line.png') top repeat-x;
    background-color: #ffe3e2;
    padding-left: 10%;
    padding-right: 10%;
}

#main-content .home-main-title {
    background: url('../img/home-title-bg.png') no-repeat center;
    height: 80px;
    width: 80%;
    position: absolute;
    margin-top: -40px;
}

#main-content .home-main-title h1 {
    text-align: center;
}

#main-header {
    height: 200px;
}

#content-title {
    padding-left: 10%;
    padding-right: 10%;
}

#content-title h1 {
    color: #bd2a34;
}